body {
    padding-top: 50px;
    min-height: 50vh;
    max-width: 200px;
    background: black;
    text-align: center;
    box-shadow: 10px 5px 5px greenyellow, -1em 0 .4em greenyellow;
    margin: auto;
    /* background: lightblue; */
}
button {
    background-color: gold;
    color:black;
}
button:hover{
    background-color: red;
    color: blue;
}
label {
    color: white;
    font-size: large;
}